*,
*:before,
*:after {
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: 0;
    font-family: var(--font-family);
    transition: all 0.3s ease;
}

button,
a {
    cursor: pointer;
    transition: all 0.3s ease;
    color: #b7b7b9;
}

a:hover {
    text-decoration: none;
}

:root {
    --font-family: 'Inter', sans-serif;
    --second-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #00000029;
    border-radius: 8px;
}
